/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  border: 8px solid orange;
}
body {
	font-family: Helvetica, Arial, Geneva, sans-serif;
	padding: 2em;
}

error {
  color: red;
}

form {
	margin: 4px;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

#footer {
  position: absolute;  
  bottom: 15;
}

#buttons_table {
  column-width: 5px;
}

#connect {
  font-size: 30px;
  line-height: 30px;
	display: flex;
	justify-content: center;
}
#success {
  color: #13A41C ;
  display: flex;
	justify-content: center;
}
#deny {
	color: #A40000;
	display: flex;
	justify-content: center;
}

#listings {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
#listings th{
  border: 2px solid white;
  font-weight: bold;
  background-color: #9CFFAD;
  
}

#listings td {
	text-align: center;
	border-bottom: 2px solid black;
}

#devices {
  margin: 10px;
  border-collapse: collapse;
  width: 45%;
  border-bottom: 2px solid black;
}

#devices th {
  border: 2px solid white;
  font-weight: bold;
  background-color: #6C7BFF;
}

#devices td {
  	text-align: center;
  	background-color: #E7D9C3;
}

#reservations {
  margin: 10px;
  border-collapse: collapse;
  width: 45%;
  border-bottom: 2px solid black;
}

#reservations th {
  border: 2px solid white;
  font-weight: bold;
  background-color: #6C7BFF;
}

#reservations td {
  	text-align: center;
  	background-color: #E7D9C3;
}