<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="dash.css" type="text/css">
    <title>SmartApp</title>
  </head>
  <body>
    <div class="container">
      <div id="header" class="span-24">
        <p>SmartApp</p>
      </div>
      <div class="span-24">
        <%= @listings.data %>
      </div>
      <div id="footer" class="span-24">
        <p>Created by Grant Hoffmann</p>
      </div>
    </div>
  </body>
</html>